<div class ="container-full resumen">
    <div class ="container">
        <div class="row" style="margin-top: 150px;">
            
        </div>
    <div class="row" style ="margin-bottom:10px;">
        <h2 class="carroCompras text-center">SHOPING CART</h2>
        <img  style ="display: block;margin-left: auto;margin-right: auto" ng-src="assets/images/underline-red.png">
    </div>   
    <div id=" tabla-resumen" class="table-responsive">
        <table   class="table text-center table-striped table-condensed table-responsive">
            <thead>
                <tr class ="text-center">
                    <th class="text-center">Product</th>
                    <th class="text-center">Code</th>
                    <th class="text-center">Unit Price</th>
                    <th class="text-center">Units</th>
                    <th class="text-center">Sub total</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>       
                <tr class ="text-center" ng-repeat="prod in udpShopContent">
                    <td>{{prod.name}}</td>
                    <td>{{prod.id}}</td>
                    <td>{{resumen.roundCurrency(prod.price)}}</td>

                    <td>{{prod.qty}}</td>
                    <td>{{resumen.roundCurrency(prod.price * prod.qty)}}</td>
                    <td align="center"><button ng-click="resumen.remove(prod.id)" class="btn btn-xs btn-danger">x</button></td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">Total of number of the item in the cart: {{udpShopTotalProducts}} </td>
                </tr>
                <tr>
                    <td  colspan="2" class="text-center">
                        <label for="repeatSelect"> Shipping Cost: </label>
                        </td>
                     <td  colspan="2" class="text-center">   
                        <select class="form-control"  ng-model='resumen.costoEnvio' required ng-options='option.costo as option.continente for option in resumen.envio'></select>
                        </td>
                      <td  colspan="2" class="text-center">
                        <input class="form-control required email" id="user_email" ng-model="resumen.costoEnvio"  type="text" disabled/>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">Total price: {{resumen.getTotal()}}</td>
                </tr>
            </tbody>
            <tfoot>
            
            </tfoot>
        </table>
    </div>
    <div class='row row-centered'>
        <div class='col-centered col-xs-6 col-md-2 col-sm-3'>  
            <div id ="paypalContent">  
                    <!--añadimos nuestro formulario de paypal-->

                        <!--añadimos nuestro formulario de paypal-->
                            {{ resumen.paypalData() }}         
            </div>
        </div>
    </div>
    <div class='col-xs-12'> 
        <p class="text-center textResumen">If you have finished shopping, procced whith the checkout <br> by entering your shipping infromation.</p>
    </div>
    


    <form name="myForm">
        <div class ="datosPersona col-xs-12 col-sm-8 col-sm-offset-2">
            <div class='row'>
                
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for="name">Name*</label>
                            <input class="form-control required email" id="user_email" ng-model="resumen.persona.name"  required="true" type="text"/>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for="user_email">Email*</label>
                                <input ng-class="contacto.clases" class="form-control" ng-model="resumen.persona.email" required="true" id="id-email" name="email" placeholder=""/>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-9'>    
                        <div class='form-group'>
                            <label for="user_title">Shipping Adress*</label>
                            <input class="form-control" id="user_title" ng-model="resumen.persona.adress"  required="true" type="text" />
                        </div>  
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <label for="user_firstname">Block N°</label>
                            <input class="form-control" id="user_firstname" ng-model="resumen.persona.block"   type="text" />
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-7'>    
                      <div class='form-group'>
                            <label for="user_title">City*</label>
                            <input class="form-control" id="user_title" ng-model="resumen.persona.city" required="true" type="text" />
                        </div>
                    </div>
                    <div class='col-sm-5'>
                        <div class='form-group'>
                            <label for="user_firstname">Country*</label>
                            <input class="form-control" id="user_firstname"ng-model="resumen.persona.country" required="true"  type="text" />
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-7'>    
                        <div class='form-group'>
                            <label for="user_title">Region*</label>
                            <input class="form-control" id="user_title" ng-model="resumen.persona.region"  required="true" type="text" />
                        </div>
                    </div>
                    <div class='col-sm-5'>
                        <div class='form-group'>
                            <label for="user_firstname">Zip Code*</label>
                            <input class="form-control" id="user_firstname" ng-model="resumen.persona.zipcode" required="true" type="text" />
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>    
                        <div class='form-group'>
                            <label for="user_title">Comments</label>
                            <textarea ng-model="resumen.persona.comments" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class='col-sm-12'>
                    <div class='form-group'>
                        <div ng-show ="resumen.errorForm" class="alert alert-danger" role="alert"> 
                           <h4 class ="text-center"> <strong>Invalid values!</strong></h4>  
                        </div>
                    </div>
                </div>
                <div class='row' style="margin-bottom: 100px;"> 
 
                    
                    <div class='col-xs-12 col-sm-4 col-sm-offset-4'>  
                        <button class="btn btn-primary btn-block" ng-click="resumen.enviarEmail()"  type="button">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>