
<div class="modal-content">
    <div class="modal-header ng-scope">
        <h3 class="modal-title">Imaquinaria</h3>
        <hr style="border-top: 2px solid #ad342f; !important">
    </div>
    <form>
   <div class ="modal-body">   
    		<div ng-repeat="prod in udpShopContent">
                <span class="item">
                  <span class="item-left">
                 <img ng-src="{{prod.image}}" style ="width: 50px;"alt="" />
                      <span class="item-info">
                          <span>{{prod.name}} ${{prod.price}}</span>
                          <span>Quantity: {{prod.qty}}</span>
                      </span>
                  </span>
                  <span class="item-right">
                      <button ng-click="modal.remove(prod.id)" class="btn btn-xs btn-danger pull-right">x</button>
                  </span>
              </span>
            </div>


   </div>
    <div class="modal-footer ng-scope">
        <button class="btn btn-danger" type="button" ng-click="modal.cancel()">Continue Shoping</button>
        <button ng-hide="showme" class="btn btn btn-primary" type="button" ng-click="modal.ok()">Checkout</button>
        <button ng-show="showme" class="btn btn btn-primary" type="button" ng-click="modal.ok()">Send</button>
    </div>
    </form>
</div>